Package: novncservice
Version: 1.0
Architecture: all
Depends: x11vnc
Pre-Depends:
Recommends: 
Maintainer: Bayram Karahan [bayramk@gmail.com]
Conflicts: 
Replaces: 
Provides: novncservice
Description: novncservice eklentisi
