[Unit]
Description=Start novnc at startup.
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth /var/run/lightdm/root/:0 -forever -loop -noxdamage -repeat -rfbauth /usr/bin/x11vncpasswd -rfbport 5905 -shared -display :0

[Install]
WantedBy=multi-user.target
